*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

.history

.env

# @aws/pdk grapth config file
**/graph-metadata.json
**/graph.json
!.cdkgraphrc.js

# graphviz file
**/*.dot
